body{
    font-family: Arial, sans-serif;
}

form{
    width: 70%;
    margin:auto;
    background: #ccc;
    padding: 25px;
}

table{
    border-collapse: collapse;
}
td{
    border: 1px solid black;
}

h1{
    text-align: center;
}