@font-face {
    font-family: 'bree_serifitalic';
    src: url('../font/breeserif/breeserif-italic_0-webfont.woff2') format('woff2'),
    url('../font/breeserif/breeserif-italic_0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alex_brushregular';
    src: url('../font/alexbrush-regular/alexbrush-regular-webfont.woff2') format('woff2'),
    url('../font/alexbrush-regular/alexbrush-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.background2 {
    background-image: url("../img/detail-img.jpg");

    margin-top: 0px;
    background-repeat: no-repeat;
    background-size: cover;

}

.titre-article1 { /* page detail.phtml */

    font-family: 'bree_serifitalic';
    color: black;
    font-size: 1.5em;
    padding-top: 20px;
}



.titreDetail { /* page detail.phtml */
    padding-top: 20px;
    padding-right: 10%;
    text-shadow: 0px 0px 10px #003556;
    font-size: 3em;
    font-family: 'bree_serifitalic';
}

.content{
    font-size: 0.8em;
    font-family: 'bree_serifitalic';
}
table

{
    border-collapse: collapse;



}

th{

    background-image: url("../img/texture.jpg");
    text-align: center;
    color: white;
    font-size: 1.5em;
}

.border1 {
    border: 1px solid black;
}

.tableau {

    border-radius: 10px;
}

background3 {
    background-image: url("../img/wood.jpg");
}

.background4 {
    font-size: 1.3em;
    color: black;
    background-color: #FACDA6;
}

.bouton1{
    font-size: 0.6em;
    border-radius: 100px;
}

.bouton2{
    font-size: 0.6em;
    border: 1px silver solid;
    text-align: center;
    border-radius: 5px;
    background-color: #FDCC91;
    display: flex;
    width: 200px;


}
.drapeau {
    background:#bfd70e;
    border-radius:50%;
    width:30px;
    height:30px;
    border:1px outset silver;
}
.erreur_404 {
    background-image: url("../img/detail-img.jpg");
    color: #AA0000;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;

}


/*
          <---------------------test ----------------------->
*/

/*
         <--------------------fin-------------------->
 */

