@font-face {
    font-family: 'asgaltregular';
    src: url('../font/asgalt-regular/asgalt-regular-webfont.woff2') format('woff2'),
    url('../font/asgalt-regular/asgalt-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fishfingersregular';
    src: url('../font/fishfingers/fishfingers_0-webfont.woff2') format('woff2'),
    url('../font/fishfingers/fishfingers_0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bree_serifitalic';
    src: url('../font/breeserif/breeserif-italic_0-webfont.woff2') format('woff2'),
    url('../font/breeserif/breeserif-italic_0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


.connect {
    padding-right: 200px;
    font-size: 0.9em;
    color: white;
}

.menu {

    display: flex;
    padding-left: 40%;
}

/* header */
nav {
    background: #003556;
    height: 100px;
    width: 100%;

}
  /* header */
nav li {
    margin-right: 30px;
    padding-top: 20px;
    font-size: 1.8em;
    font-family: 'bree_serifitalic';
    list-style: none;
    color: white;
}


.cadre {
    border-radius: 20px;
    border: 2px silver outset;
    margin-left: 300px;
    margin-right: 300PX ;
    background-image: url("../img/wood.jpg");
}

.cadre2 {
    border-radius: 20px;
    border: 2px silver outset;
    margin-left: 200px;
    margin-right: 200PX ;
    background-image: url("../img/wood.jpg");
}

.ancre {
    text-decoration: none;
    color: white;
}


.erreur-champ {                             /* message erreur page detail */
    text-align: center;
    color: red;
}



h1 {
    text-align: center;
    color: white;
    text-shadow: 0px 0px 10px #000000;
    font-size: 4em;
    font-family: 'alex_brushregular';
    margin-top: 50px;
    padding-top: 50px;
}

#logo {
    box-shadow: 8px 8px 11px black;
    border: ridge #130E0A;
    background: white;
    position: fixed;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    margin-left: 68.5%;
    margin-top: 10px;
    text-align: center;
    padding: 2.5px;

}

h2 {
    font-family: 'bree_serifitalic';
    font-size: 2.5em;
}

article {
    height: 800px;
    background: #dde2e6;

}

#Billets {
    padding-top: 50px;
    padding-left: 250px;
}

.line2 {
    width: 1000px;
    position: absolute;
    right: 0px;
    top: 2075px;

}

.line1 {
    width: 530px;
    position: absolute;
    right: 300px;
    top: 1230px;
    border-radius: 2px;
}

.decoration {
    float: left;
    height: 715px;
    width: 375px;
    margin-left: 70px;
    margin-top: 50px;
    margin-right: 35px;
}

.billets {
    font-size: 1.2em;
    margin-left: 195px;
}



.text1 {
    text-align: justify;
    font-family: 'bree_serifitalic';
    font-size: 1.5em;
    padding-top: 30px;
    padding-right: 100px;
    padding-left: 100px;
}

.text2 {

    text-align: justify;
    font-family: 'bree_serifitalic';
    font-size: 1.3em;
    padding-top: 20px;
    padding-right: 100px;
    padding-left: 100px;
    background-color: #FACDA6;

}



.background1 { /* page accueil.phtml */
    background-image: url("../img/alaska.jpg");
    height: 530px;
    margin-top: 0px;
}




.background{
    background-repeat: repeat;

    background-color: #003356;
}



aside {
    border-radius: 10px 10px 10px 10px;
    box-shadow: 5px 5px 10px 4px black;
    background-image: url("../img/wood.jpg");
    background-repeat: repeat;
    background-attachment: scroll;


}

#line3 {
    margin-left: 20%;
    margin-right: 20%;
    height: 2px;
    color: #003356;
    padding-top: 30px;

}

.linefooter {
    height: 5px;
    background-color: #003556;
}

#border {
    background-color: #dde2e6;
    height: 100px;

}

#footer {

    background: #003356;
    height: 85px;
    text-align: center;
    font-family: 'asgaltregular';
    font-size: 1.5em;
    color: #dde2e6;
    padding-top: 30px;
    margin-bottom: 0;
}

ul li {
    display: inline;
}

th{
    text-shadow: 0px 0px 10px #000000;
    color: white;
    font-size: 1.5em;
}
.logo
{
    margin-left: 880px;
    margin-top: 15px;
    margin-bottom: 10px;
    background: white;
    width: 130px;
    height: 45px;
    border-radius: 10px / 10px;
    padding: 2.5px;
}

.admin_page {

    font-size: 0.9em;
    color: white;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    #logo {
        background: white;
        position: fixed;
        width: 150px;
        height: 60px;
        border-radius: 10px / 10px;
        margin-left: 10PX;
        margin-top: 10px;
        text-align: center;
        padding: 2.5px;
    }

    .picture {
        margin-left: 25%;
    }

    .line1 {
        display: none;
    }

    .line2 {
        display: none;
    }

    .decoration {
        display: none;
    }



}